:root {
    --ishgray: rgb(179, 179, 179);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(28, 28, 30);
    margin: 0;
    padding: 0;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 0.1rem solid var(--ishgray);
    padding: 1.5rem;
    position: fixed;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    color: white;
    font-size: 1.5rem;
}

.header-text {
    flex: 1; 
    text-align: left; 
}

.navigation-container {
    flex: 0; 
    text-align: right; 
    margin-right: 5rem;
}

.navigation-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navigation-container li {
    display: inline;
}

.navigation-container a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    place-items: left;
    height: 100vh;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 10vh;
    margin-bottom: 100vh;
}

.container h2 {
    color: white;
    font-size: 1.75rem;
}

.container h1 {
    color: white;
    font-size: 1.5rem;
}

.container p {
    color: var(--ishgray);
    font-size: 1.5rem;
}

.home-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.home-container .home-content-container {
    flex: 1;
    text-align: left;
}

.home-container .selfie-container {
    flex: 0;
    text-align: right;
    margin-right: 0.75rem;
}

.home-container .selfie-container img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: var(--ishgray);
}

.project-container, .about-container, .social-container, .technologies-container {
    border-bottom: 0.1rem solid var(--ishgray);
    padding-bottom: 2.5vh;
}

.project-container button {
    background-color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.technologies-container .icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vh, 1fr));
    gap: 3.5rem;
}

.technologies-container .icons-container h1 {
    font-size: 1.25rem;
}

.technologies-container .icons-container div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.technologies-container .icons-container img {
    width: 4rem;
    height: 4rem;
}

.social-container .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.social-container .buttons-container img {
    width: 5rem;
    height: auto;
}

.social-container .buttons-container a {
    color: cadetblue;
    text-decoration: none;
    font-size: 1.25rem;
}