html, body {
    background-color: gray;
    margin: 0;
    padding: 0;
}

.header {
    background-color: darkslategray;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: white;
    font-size: 1.5em;
    font-style: italic;
    text-decoration: none;
    padding-inline: 2.5vw;
    transition: 0.3s ease; 
}

.nav-links a:hover {
    color: gray;
}

.nav-links a.active {
    color: black;
}

.social-links img {
    width: 3em;
    height: auto;
    padding-inline: 2.5vw;
    transition: 0.3s ease;
}
.social-links img:hover {
    transform: scale(1.2);
}

h1 {
    color: white;
    font-size: 5em;
    font-style: italic;
}

h2 {
    color: white;
    font-size: 3em;
    font-style: italic;
}

h3 {
    color: white;
    font-size: 1.5em;
    font-style: italic;
}

.content-home {
    padding-left: 10vw;
    text-align: left;
    width: 40vw;
}
